section
    h2 Alec Aivazis
    img.ds_logo(src="static/images/ds_logo.svg")
    br
    a(href="http://alec.aivazis.com").
        alec.aivazis.com
    br
    a(href="http://github.com/AlecAivazis").
        github.com/AlecAivazis

