section
    h2 Functional JavaScript
    h3 Building Modern User Interfaces
    br
    br
    a(href="http://alecaivazis.github.io/functional-javascript/#/").
        alecaivazis.github.io/functional-javascript