section
    h2 React, Redux, and You
    h3 Managing complex state with immutable data structures
    br
    br
    a(href="http://alecaivazis.github.io/functional-javascript/#/").
        alecaivazis.github.io/react-redux-and-you