section
    h2(style="margin-bottom: 20px;")  roadmap
    ul
        li.fragment.roadmapItem Basic modern javascript (es6) syntax
        li.fragment.roadmapItem Functional JavaScript
        li.fragment.roadmapItem Quick intro to functional React