section
    h2(style="margin-bottom: 20px;")  roadmap
    ul
        li.fragment.roadmapItem React Refresher
        li.fragment.roadmapItem Stateful Architecture
        li.fragment.roadmapItem Getting started with redux
        li.fragment.roadmapItem Real-world Example